@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/PretendardVariable.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
  /* font-family: 'Pacifico', cursive; */
}

.title {
  font-family: 'Pacifico', cursive;
}
