@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
  /* font-family: 'Pacifico', cursive; */
}

.title {
  font-family: 'Pacifico', cursive;
}
